<h1>Hello there</h1>
{{#if user}}
<a href='/logout'>log out</a>
<form method="POST" action="/message">
  {{!-- <input autofocus type="text" name="author" placeholder="author" /> --}}
  {{user.name}}:
  <input type="text" name="message" placeholder="message" />
  <button type="submit">Submit!</button>
</form>
{{else}}
<a href="/register">sign up</a>
<a href="/login">login</a>
{{/if}}
<ul>
  {{#each messages}}
  <li>{{author}}: {{message}}</li>
  {{/each}}
</ul>