<h1>Log In</h1>
<form class="register" method="POST" action="/login">
  <input type="email" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="password" />
  <button type="submit">Login</button>
</form>
<a href="/register">sign up</a>
<a href="/">home</a>